* {
    background-color: #e5cec1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

/* add background color to navigation bar */

body {
    height: 100%;
    margin: 0;
    font-size: larger;
}

/* navbar link styling */
.nav-links a {
    float: right;
    color: white;
    background-color: navy;
    font-size: x-large;
    padding: 10%;
    width: 15%;
}

/* hover to change color */
.nav-links :hover {
    background-color: orangered;
}

.header {
    font-size: xx-large;
    background-color: blueviolet;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: blue;
}

.card-container > div {
    background-color: green;
    padding: 60px 200px;
    font-size: larger;
}

.bio-card {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bio-card h2 {
    font-size: x-large;
    font-weight: bold;
    color: brown;
}