* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.hilite {
    color: #e6d7d0;
}

.light-background {
    background-color: #e5cec1;
}

.dark-background {
    background-color: #d7b9aa;
    }

.light-accent {
    color: #c4a494;
}

.med-accent {
    color: #ba9785
}

.dark-accent {
    color: #aa9183
}

/*  */
body {
    height: 100%;
    margin: 0;
    font-size: larger;
}

.nav-links {
    display:flex;
    align-items: flex-start;
    justify-content: right;
}

/* navbar link styling */
.nav-links a {
    color: white;
    font-size: x-large;
    padding: 50px;
    width: 20%;
    text-decoration: none;
}

/* hover to change color */
.nav-links :hover {
    background-color: #e5cec1;
}

.header {
    display:flex;
    align-items: flex-start;
    justify-content: left;
    padding: 10% 10%;
}

.header h1 {
    font-size: xx-large;
    color: #ffffff;
    
}

.card-container {
    display: flex;
    flex-direction: column;
}

.card-container > div {
    padding: 200px 20px;
    font-size: larger; 
}

.bio-card {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e5cec1;
}

.bio-card h2 {
    font-size: x-large;
    font-weight: bold;
    color: #ffffff;
}
.bio-card p {
    color: #ffffff;
}

.bio-card img {
    max-height: 300px;
}

.my-work {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    color: #ffffff;
}

#work_text {
    color: #ffffff
}

.my-work h2 {
    font-size: x-large;
    font-weight: bold;
    color: #ffffff;
}

.my-work img {
    max-height: 400px;
}

.contact-me {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #d7b9aa;
    }

.contact-me {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
;
}
    
.contact h2 {
    font-size: x-large;
    font-weight: bold;
    color: #ffffff;
    }

.contact p {
    color: #ffffff;
    }
    
.contact img {
    max-height: 300px;
}

.projects {
    display:flex;
    flex-direction: column;
}

#primary-project {
    width: 20%;
    margin-left: 5px;
}

#primary-project img {
    width: 400px;
    display: block;
    border: 3px solid black;
}

#second-projects {
    display: flex;
    justify-content: space-between;
}

#second-projects img {
    display: block;
    width: 100%;
    border: 3px solid black;
}

#second-projects div {
    width: 49%;
    margin-top: 10px;
}

@media (max-width: 1100px) {
    .my-work {
        flex-direction: column;
    }

    .projects {
        flex-direction: row;
    }

    #second-projects {
        flex-direction: column;
    }

    #second-projects div {
        width: auto;
        margin-top: 0;
    }

    #second-projects img {
        width: 195px;
        height: 195px;
    }

    #primary-project {
        width: auto;
        margin-left: 0px;
        margin-right: 10px;
    }
}

